{#include base}
    <div class="grid">
    {#for document in documents}
    <article>
        <header><a href="/details/{document.id}">{document.filename}</a></header>
        <a href="/download/original/{document.id}"><img src="/download/thumbnail/{document.id}"></a>
        <footer>{document.category}</footer>
    </article>
    {/for}
    </div>
{/include}
