{#include base}
	<form action="/upload" enctype="multipart/form-data" method="post">
		<label for="file">Upload Your File</label> <input
			id="file"
			accept="{mimetypes}"
			name="file" type="file" />
		<label for="category_id">Category</label> <input
			id="category_id" name="category_id" type="text">
		<button name="submit" type="submit">
			Upload File</button>
	</form>
{/include}
