{#include base}
    <article>
        <header>{document.filename}</header>
        <!--<a href="/download/original/{document.id}"><img src="/download/thumbnail/{document.id}"></a>-->
        <div id="my_pdf_viewer">
            <div id="canvas_container">
                <canvas id="pdf_renderer"></canvas>
            </div>
            <div id="navigation_controls" class="grid">
                <button id="go_previous">Previous</button>
                <span class="grid">
                    <input id="current_page" value="1" type="number" disabled/> / <span id="page_count">X</span>
                </span>
                <button id="go_next">Next</button>
            </div>
            <div id="zoom_controls" class="grid">
                <button id="zoom_in">+</button>
                <button id="zoom_out">-</button>
            </div>
        </div>
        <script src="/webjars/pdfjs-dist/4.1.392/build/pdf.js"></script>
        <link rel="stylesheet" href="/webjars/pdfjs-dist/4.1.392/web/pdf_viewer.css">
        <script src="/webjars/pdfjs-dist/4.1.392/web/pdf_viewer.js"></script>
        <script>
        const myState = {
            pdf: null,
            currentPage: 1,
            zoom: 0.8,
            pageNum: 1,
            pageRendering: false,
            queue: []
        };

        pdfjsLib.getDocument('/download/original/{document.id}').promise
            .then((pdf) => {
                myState.pdf = pdf;
                console.debug('PDF has ' + pdf.numPages + ' pages');
                document.getElementById('page_count').textContent = pdf.numPages;
                render(myState.currentPage);
            });

        function render(num) {
            myState.pageRendering = true;
            console.debug('Retrieving data of page page ' + num);
            myState.pdf.getPage(num).then((page) => {

                const canvas = document.getElementById("pdf_renderer");
                const context = canvas.getContext('2d');

                const outputScale = window.devicePixelRatio || 1;

                const viewport = page.getViewport(\{scale: myState.zoom\});
                const width = viewport.width ? viewport.width : 200;
                const height = viewport.height ? viewport.height : 200;
                canvas.width = width;
                canvas.height = height;
                canvas.style.width = Math.floor(width) + "px";
                canvas.style.height = Math.floor(height) + "px";

                const transform = outputScale !== 1
                    ? [outputScale, 0, 0, outputScale, 0, 0]
                    : null;

                const renderTask = page.render({
                    canvasContext: context,
                    transform,
                    viewport
                });

                console.debug('Rendering page ' + num);
                document.getElementById('current_page').value = num;

                renderTask.promise.then(function () {
                    myState.pageRendering = false;
                    const pending = myState.queue.shift();
                    if (pending) {
                      render(pending);
                    }
                  });
            });
        }

        function queueRenderPage(num) {
            if (myState.pageRendering) {
                console.debug('Queueing rendering of page ' + num);
                myState.queue.push(num);
            } else {
                render(num);
            }
        }
        function onPrevPage() {
            if (myState.pageNum <= 1) {
                console.debug('On first page, not paging to previous');
                return;
            }
            myState.pageNum--;
            queueRenderPage(myState.pageNum);
        }
        document.getElementById('go_previous').addEventListener('click', onPrevPage);

        function zoomIn() {
            if (myState.zoom > 2) {
                console.debug('To large, cannot zoom in');
                return;
            }
            myState.zoom *= 1.5;
            console.debug('Zooming in to ' + myState.zoom);
            queueRenderPage(myState.pageNum);
        }
        document.getElementById('zoom_in').addEventListener('click', zoomIn);

        function zoomOut() {
            if (myState.zoom < 0.2) {
                console.debug('To small, cannot zoom out');
                return;
            }
            myState.zoom /= 1.5;
            console.debug('Zooming out to ' + myState.zoom);
            queueRenderPage(myState.pageNum);
        }
        document.getElementById('zoom_out').addEventListener('click', zoomOut);

        function onNextPage() {
            if (myState.pageNum >= myState.pdf.numPages) {
                console.debug('On last page, not paging to next');
                return;
            }
            myState.pageNum++;
            queueRenderPage(myState.pageNum);
        }
        document.getElementById('go_next').addEventListener('click', onNextPage);

        </script>
        <footer>{document.text}</footer>
    </article>
{/include}